.Switch {
  display: flex;
  align-items: center;
  font-family: inherit !important;
  cursor: pointer;
  user-select: none;
  margin: auto auto auto auto;
  flex: 1;
  &:first-child {
    margin-top: 0;
  }
  &.disabled {
    pointer-events: none;
  }
}

.Switch__control {
  width: 48px;
  height: 28px;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,0.05);
  border-radius: 16px;
  position: relative;
  background-color: rgba(0,0,0,0.03);
  transition: opacity 150ms ease-in-out;
  .Switch.disabled & {
    background: gray;
  }
}

.Switch__indicator {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 1px;
  background: rgba(0,0,0,0.2);
  overflow: hidden;
  transition: transform 150ms ease-in-out;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }

  .Switch.on & {
    transform: translate(20px);
  }

  .Switch.on &:after {
    opacity: 1;
  }

  .Switch.disabled &, .Switch.disabled &:after {
    background: red;
  }
}

.on {
  .Switch__control {
    background-color: #64AA46;
  }
}

.Switch__label {
  margin-left: 12px;
  font-size: 15px;
  line-height: 20px;
}