@font-family: 'Montserrat', sans-serif;
@border-radius: 8px;
@height: 36px;
@medium-height: 39px;
@small-height: 30px;
@large-height: 43px;
@border-radius-rounded: @height / 2;
@border-radius-rounded-medium: @medium-height / 2;
@border-radius-rounded-small: @small-height / 2;

.Button {
  justify-content: center;
  border: none;
  font-family: @font-family;
  display: inline-flex;
  background: var(--ui-gradient-primary);
  position: relative;
  border-radius: @border-radius;
  height: @height;
  align-items: center;
  user-select: none;
  padding: 0 16px;
  cursor: pointer;
  box-sizing: border-box;
  outline: none;
  color: var(--ui-primary);
  overflow: hidden;
  &:not(.outline) {
    color: var(--ui-contrast-primary);
  }
  &.loading {
    user-select: none;
    pointer-events: none;
  }
  &.rounded {
    border-radius: @border-radius-rounded;
  }
  &:after {
    content: '';
    background: var(--ui--negative-gradient-primary);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: opacity 150ms ease-in-out;
  }
  &:active {
    &:after {
      opacity: 1;
    }
  }
  &.small {
    height: @small-height;
    padding: 0 24px;
    &.rounded {
      border-radius: @border-radius-rounded-small;
    }
  }
  &.medium {
    height: @medium-height;
    padding: 0 16px;
    &.rounded {
      border-radius: @border-radius-rounded-medium;
    }
  }
  &.large {
    height: @large-height;
    text-align: center;
    .Button__cont {
      justify-content: center;
    }
  }
  &.large.rounded {
    border-radius: 30px;
  }
  &.disabled {
    pointer-events: none;
    opacity: 0.65;
  }
  &.secondary {
    background: var(--ui-button-secondary-background) !important;
    color: var(--ui-foreground-secondary);
    &:after {
      background: inherit;
      color: black !important;
    }
  }
  &.yellow {
    background: var(--ui-yellow-gradient) !important;
    color: var(--ui-foreground-primary);
    &:after {
      background: inherit;
      color: black !important;
    }
  }
  &.outline {
    &:hover, &:active {
      color: var(--outlineBorderColor);
    }
  }
  &.negative {
    background: var(--ui-negative);
    opacity: .8;
    &:after {
      background: var(--ui-negative);
    }
  }
  &.negative_outline {
    color: var(--ui-negative);
    background: var(--ui-negative);
    &:after {
      background: var(--ui-negative);
    }
    &:hover, &:active {
      opacity: .8;
      color: var(--ui-contrast-primary);
    }
  }

  &.outline_white {
    background: transparent;
    border: 1px solid var(--outlineBorderColor);
    transition: background 150ms ease-in-out;
    &:after {
      display: none;
    }
    &:active {
      background: var(--outlineBorderColor);
    }
    .Button__label {
      transition: color 150ms ease-in-out;
    }
  }

  &.outline_gray {
    background: transparent;
    border: 1px solid rgba(0,0,0,0.07);
    color: var(--invertTextColor000);
    transition: background 150ms ease-in-out;
    &:after {
      display: none;
    }
    &:active {
      background: var(--ui-contrast-primary);
    }
    .Button__label {
      transition: color 150ms ease-in-out;
    }
  }

  &.white {
    background: var(--outlineBorderColor);
    border: 1px solid rgba(0,0,0,0.09);
    color: rgba(0,0,0,0.4);
    transition: background 150ms ease-in-out;
    &:after {
      display: none;
    }
    &:active {
      background: rgb(245,245,245);
    }
    .Button__label {
      transition: color 150ms ease-in-out;
    }
  }
}

.Button__loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  z-index: 5;
  svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: Button__loader_animation 1s infinite linear;
    color: var(--ui-contrast-primary);
  }
}

@keyframes Button__loader_animation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.Button__outline_helper {
  background: inherit;
  position: absolute;
  top: 1px;
  left: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  transition: opacity 150ms ease-in-out;
  &:after {
    content: '';
    position: absolute;
    background-clip: padding-box;
    border: 1px solid transparent;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: calc(@border-radius - 1px);
    background: var(--uit-background);
  }
  .Button.rounded &:after {
    border-radius: @border-radius-rounded;
  }
  .Button.rounded.small &:after {
    border-radius: @border-radius-rounded-small;
  }
  .Button.negative_outline & {
    background: var(--ui-button-negative-background);
  }
  .Button:hover & {
    opacity: 0;
  }
}

.Button__label {
  font-size: 13px;
  line-height: 17px;
  font-weight: 600;
  .Button.small & {
    font-size: 13px;
    line-height: 16px;
  }
  .Button.medium & {
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
  }
}

.Button__cont {
  z-index: 2;
  align-items: center;
  display: flex;
  .Button.loading & {
    opacity: 0;
  }
}