.Input__wrapper {
  width: 100%;
  color: inherit;
  input {
    width: 100%;
    background: transparent;
    min-height: 20px;
    font-size: inherit;
    font-family: inherit;
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
    color: inherit;
  }
}