.DropActions__main {
  width: 100%;
  background-color: white;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.03), 0 0 9px 1px rgba(0,0,0,0.03);
  overflow: hidden;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  min-width: 50px;
  min-height: 30px;
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

.DropActions__openOverlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.DropActions__ActionItem {
  width: 100%;
  padding: 8px 16px;
  display: flex;
  span {
    margin: auto 0;
  }
  &:hover {
    background-color: rgba(0,0,0,0.02);
  }
}