.SecondaryInput__main {
  width: 100%;
  cursor: text;
  position: relative;
  .SecondaryInput__actionRightIcon {
    position: absolute;
    width: 50px;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 2;
    display: flex;
    cursor: pointer;
    .see_image {
      width: 32px;
      height: 32px;
      margin: auto auto auto 0;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("./assets/see.png");
      &.not {
        background-image: url("./assets/not_see.png");
      }
    }
  }
  input, textarea {
    @placeholderColor: #777;
    outline: none;
    border: 0;
    background-color: transparent;
    resize: none;
    padding: 0;
    margin: 0;
    min-width: inherit;
    min-height: inherit;
    width: 100%;
    height: auto;
    font-size: 17px !important;
    line-height: inherit;
    color: var(--invertTextColor000);
    font-weight: 400;
    &::-webkit-input-placeholder { color: @placeholderColor; }
    &:-ms-input-placeholder { color: @placeholderColor; }
    &::-ms-input-placeholder { color: @placeholderColor; }
    &::placeholder { color: @placeholderColor; }
  }
  .SecondaryInput__wrapper {
    width: 100%;
    box-sizing: border-box;
    padding: 11px 16px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    background-color: rgba(0, 0, 0, 0.0);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    .SecondaryInput__title {
      width: 100%;
      font-size: 12px;
      margin-bottom: 5px;
      color: var(--secondaryInputDescriptionColor);
    }
    .SecondaryInput__description {
      width: 100%;
      font-size: 12px;
      margin-top: 5px;
      color: var(--secondaryInputDescriptionColor);
      ul {
        margin: 0;
        box-sizing: border-box;
        padding: 0 16px;
        list-style: circle;
      }
      .hr {
        width: 100%;
        height: 1px;
        background-color: rgba(0,0,0,0.02);
        margin-bottom: 8px;
      }
      li {
        box-sizing: border-box;
        padding: 4px 0;
        line-height: 18px;
      }
    }
  }
}