.DropDown_Main {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.DropDown__Main__title {
  width: 100%;
  font-size: 12px;
  box-sizing: border-box;
  padding-bottom: 8px;
  color: var(--invertTextColor000);
}

.DropDown__container {
  width: 100%;
  box-sizing: border-box;
  float: left;
  min-height: 38px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  background-color: rgba(0, 0, 0, 0.02);
  padding: 2px 2px 1px;
  position: relative;
  overflow: visible !important;
  -moz-user-select:none;
  -webkit-user-select:none;
}

.DropDown__container_content {
  width: 100%;
  float: left;
  position: relative;
  box-sizing: border-box;
  padding: 0 5px;
}

.DropDown__c_left {
  float: left;
  width: calc(100% - 28px);
  min-height: 28px;
}

.DropDown__c_left input {
  margin: 0;
  padding: 0 7px;
  box-sizing: border-box;
  background: transparent;
  line-height: 24px;
  font-size: 14px;
  color: #525252;
  float: left;
  width: 100%;
  border: none;
  outline: none;
  height: 31px;
}

.DropDown__c_right {
  width: 28px;
  height: 100%;
  cursor: pointer;
  position: absolute;
  right: 0;
  display: flex;
}

.DropDown__c_right .DropDown__svg_vector {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
}

.DropDown__c_right .DropDown__svg_vector svg {
  width: 24px !important;
  height: 100% !important;
  margin: 1px auto 0;
}

.DropDown__c_right .DropDown__svg_vector svg path {
  fill: #888;
}

.DropDown__store_item {
  background-color: #64AA46;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  margin: 5px 0 2px 5px;
  height: 22px;
  box-sizing: border-box;
  padding: 1px 2px 0 8px;
  float: left;
  -moz-user-select: none;
  cursor: pointer;
  -webkit-user-select: none;
}

.NotMultiSelect .DropDown__store_item {
  padding: 1px 2px 0 0;
  background-color: transparent;
}

.NotMultiSelect .DropDown__store_item_left span {
  color: var(--fiveToCCC);
  font-size: 14px;
  font-weight: 500;
  margin: auto 0;
}

.NotMultiSelect .DropDown__store_item_right span svg {
  color: #888;
}

.DropDown__store_item_left {
  float: left;
  width: calc(100% - 20px);
  height: 20px;
  display: flex;
}

.DropDown__store_item_left span {
  margin: auto;
  color: rgba(255, 255, 255, 0.9);
  line-height: 12px;
  font-size: 12px;
}

.DropDown__add_button .DropDown__store_item_left span {
  color: var(--invertTextColor000);
}

.DropDown__store_item_right {
  width: 20px;
  height: 20px;
  float: right;
  cursor: pointer;
}

.DropDown__store_item_right span {
  width: 20px;
  height: 20px;
  display: flex;
}

.DropDown__store_item_right span svg {
  color: white;
  width: 15px !important;
  height: 15px !important;
  margin: 3px 0 0 1.5px;
}

.DropDown__store_item.DropDown__add_button {
  background-color: rgba(0,0,0,0.1);
  display: none;
  cursor: pointer;
  padding: 1px 2px 0 8px;
}

.DropDown__store_item.DropDown__add_button svg path {
  fill: black !important;
}

.DropDown__items {
  position: absolute;
  top: 100%;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background-color: var(--mainBoxBackground);
  left: -1px;
  z-index: 100;
  -webkit-border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.03);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.03);
  overflow: hidden;
  overflow-y: auto;
}


.DropDown__item:last-child {
  border-bottom: 0 !important;
}

.DropDown__result {
  overflow-y: auto;
  max-height: 200px;
}

.DropDown__result::-webkit-scrollbar {width: 6px;cursor:pointer;position:absolute;}
.DropDown__result::-webkit-scrollbar-track-piece {background-color:transparent;}
.DropDown__result::-webkit-scrollbar-thumb:vertical {background-color: #f3f3f3;border:2px solid #fff;border-left:0;}
.DropDown__result:hover::-webkit-scrollbar-thumb:vertical{background-color:#eee;}
.DropDown__result::-webkit-scrollbar-thumb:active{background-color:#ccc !important;}

.DropDown__result .DropDown__Main__description {
  width: 100%;
  box-sizing: border-box;
  padding: 7.5px 16px;
  font-size: 12px;
  color: black;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

.DropDown__item {
  width: 100%;
  float: left;
  box-sizing: border-box;
  cursor: pointer;
  padding: 7.5px 16px;
  display: flex;
  font-size: 14px;
}

.DropDown__item_left {
  width: 35px;
  height: 35px;
  margin: auto 16px auto 0;
  display: flex;
}

.DropDown__item_photo {
  width: 35px;
  height: 35px;
  margin: auto;
  background-color: #e4e3e2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-border-radius: 17.5px;
  -moz-border-radius: 17.5px;
  border-radius: 17.5px;
}

.DropDown__item_content {
  flex: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.DropDown__name {
  width: 100%;
  margin: auto 0;
}

.DropDown__name span {
  line-height: 17.5px;
  font-weight: 500;
  color: var(--fiveToCCC);
}

.DropDown__name .DD_subtitle {
  color: #888;
}

.DropDown__description {
  width: 100%;
  margin: auto 0;
}

.DropDown__description span {
  color: rgb(130, 130, 130);
  line-height: 17.5px;
}

.DropDown__item_right {
  width: 35px;
  height: 35px;
  margin: auto 0 auto auto;
  display: flex;
}

.DropDown__svg_right_item {
  width: 22px;
  height: 22px;
  margin: auto 0 auto auto;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 50%;
  display: flex;
}

.DropDown__svg_right_item svg {
  width: 15px !important;
  height: 15px !important;
  margin: 3px 0 0 2px;
  color: #888;
}

.DropDown__item.over, .DropDown__item:hover {
  background-color: rgba(0,0,0,0.03);
}

.NotMultiSelect .DropDown__svg_right_item {
  display: none;
}

.NotMultiSelect .DropDown__item.DropDown__active .DropDown__svg_right_item {
  display: flex;
}

.DropDown__item.DropDown__active .DropDown__svg_right_item {
  background-color: #64AA46;
  border-color: #64AA46;
}

.DropDown__item.DropDown__active .DropDown__svg_right_item svg {
  opacity: 1 !important;
}

.DropDown__item.DropDown__active .DropDown__svg_right_item svg path {
  fill: rgba(255, 255, 255, 0.9) !important;
}

.DropDown__item:hover .DropDown__svg_right_item svg {
  opacity: 1;
}

.DropDown__empty_result {
  box-sizing: border-box;
  float: left;
  padding: 7.5px 10px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  width: 100%;
}