:root {
  --ui-button-secondary-background: rgb(226, 226, 226);
  --ui-button-secondary-active-background: #FBF8F6;
  --ui-button-negative-background: linear-gradient(to right bottom, rgb(210, 93, 84) 0%, rgb(163, 82, 73) 100%);
  --ui-button-negative-background-active: #F76646;
  --ui-foreground-primary: #000;
  --ui-foreground-secondary: rgb(134, 134, 134);
  --ui-contrast-primary: white;
  --uit-background: white;
  --ui-primary: #333;
  --ui-primary-light: #333;
  --ui-background-secondary: #F5F1EE;
  --ui-gradient-primary: linear-gradient(45deg, #333 0%, #000 100%);
  --ui-yellow-gradient: rgba(255, 188, 57, 0.65);
  --ui--negative-gradient-primary: linear-gradient(45deg, #333 0%, #000 100%);
  --ui-negative: rgb(210, 93, 84);

  --outlineBorderColor: white;
}

body.app_dark {
  --ui-button-secondary-background: rgb(180, 180, 180);
  --ui-button-secondary-active-background: rgb(190, 190, 190);
  --ui-foreground-secondary: rgb(100, 100, 100);
  --outlineBorderColor: rgb(100, 100, 100);
  --uit-background: rgba(0,0,0,0.4);
}